* {
  margin: 0;
  font-family: 'Work Sans';
}

/**Header**/
.header {
  width: 100%;
  height: 810px;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
}

.banner {
  text-align: right;
  padding: 215px 230px 165px 845px;
  color: #FFFFFF;
  width: 480px;

}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 25px;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.primary-btn {
  width: 160px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 0;
  color: #005FAC;
  font-weight: 600;
  font-size: 20px;
}

/**about me section**/
.about-me {
  display: flex;
  justify-content: space-between;
  width: 1070px;
  height: 725px;
  margin: 130px auto;
}

.about-me-container {
  width: 416px;
  height: 400px;
  text-align: left;
  margin-top: 240px;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
}

.about-me-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #444343;
  margin-bottom: 15px;
}

.list-point p {
  color: #444343;
  margin-bottom: 8px;
}

.check {
  margin-right: 10px;
}

/** My plan Section**/

.my-plan .section-title {
  text-align: center;
}

.my-plan-container {
  display: flex;
  justify-content: space-around;
  width: 1140px;
  height: 205px;
  text-align: center;
  margin: 50px auto 130px auto;
}

.my-info-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 25px;
  margin-bottom: 15px;
}

.my-info-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}